.ad-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    height: 500px;
    font-size: 20px;
}

.ad-container h3 {
    color: white;
    text-align: center;
    font-size: 25px;
}

.ad-container h1 {
    color: #d3804a;
    font-size: 50px;
    font-weight: bolder;
}

.recipe-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-main span {
    margin-top: 20px;
    background-color: #facfb2;
    border-radius: 50px;
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: auto;
}

.recipe-main input {
    width: 450px;
    height: 2em;
    background-color: #facfb2;
    border: none;
    font-size: 19px;
    outline: none;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: none;
}