.recipe-card {
    margin: 30px 10px 30px 10px;
    width: 300px;
    height: 470px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 0px 3px 5px 1px #afafaf;
    border-radius: 3px;
    overflow: hidden;
}

.recipe-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px
}